.header__menu-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.link__header-list {
  text-decoration: none;
}

@media (width <= 1050px) {
  .header__menu-list {
    display: none;
  }
}
